
@media screen and (min-width: 960px){
	
/* Attributes in alphabetical order */
	
article{
	padding: 5px;
	margin-bottom: 10px;
	background-color: white;
	grid-area: articleTag;
}
aside{
	grid-area: asideTag;
}
footer{
	grid-area: footerTag;
	text-align: center;
}

header{
	grid-area: headerTag;
	text-align: center;

}

html{
	scroll-behavior: smooth;
}
img{
	width: 200px;
	height: 200px;
	float: right;
	margin: 5px;
	padding: 30px;
}

nav{
	grid-area: navTag;
	overflow: none;
}
p{
	grid-area: txtTag;
}
section{
	grid-area: sectionTag;
	padding: 5px;

}

p{
	color: red;
}
ul{	
	list-style-type: none;
	background-color: gray;
	border: 2px solid #000;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
li {
	float: left;
	display: block;
	color: #000;
	background-color: gray;
	text-align: center;
	border-right: 2px solid #000;
}
li a {
  display: block;
  color: white;
  padding: 14px 33px;
  text-decoration: none;
  text-align: center;
}

li:last-child{
	border-right: none;
}
li a:hover{
	background-color: #000;
}

/* Classes in Alphabetical Order */
.articleHeader{
	text-align: center;
	
}
.asidePicture{
	width: 100px;
	height: 50px;
	float: right;
	border: 2px solid #000;
	position: static;
	top: 40px;
}

.articleText{
	grid-area: pTag;
	padding-left: 30px;
}

/* Id's in alphabetical order and divided by media queries. Exception for the grid container */
#nederland{
	grid-area: dutchTag;
}

#sporters{
	grid-area: sportersTag;
}

#grid-container{
	border: solid 2px #000000;
	background-color: white;
	padding: 10px;
	margin: 30px 300px;
	display: grid;
	grid-gap: 30px;
	justify-content: center;
	grid-template-columns: 400px 350px;
	grid-template-areas:
		'headerTag		headerTag'
		'navTag			navTag	'
		'dutchTag		dutchTag'
		'sportersTag	sportersTag';
}
#grid-article-container{
	
	border: solid 2px #000000;
	margin: 10px 0px;
	display: grid;
	grid-gap: 30px;
	justify-content: center;
	grid-template-columns: 400px 350px;
	grid-template-areas:
		'headerTag	headerTag'
		'pTag		asideTag'
		'pTag		asideTag'
		'footerTag	footerTag';
	
	
}

#backgroundVideo{
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	right: 0;
	bottom: 0;
	z-index: -1;
}

#aHaarlem{
	
}	
		
}	

@media screen and (min-width: 400px max-width: 960px){
	
	/* Attributes in alphabetical order */
	
article{
	border: solid 2px #000;
	padding: 5px;
	margin-bottom: 10px;
}

header{
	grid-area: headerTag;
	text-align: center;
}

nav{
	grid-area: navTag;
	overflow: none;
}
section{
	grid-area: sectionTag;
	padding: 5px;
}

p{
	color: red;
}
ul{	
	list-style-type: none;
	background-color: gray;
	border: 2px solid #000;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
li {
	float: left;
	display: block;
	color: #000;
	background-color: gray;
	text-align: center;
	border-right: 2px solid #000;
}
li a {
  display: block;
  color: white;
  padding: 14px 54px;
  text-decoration: none;
  text-align: center;
}

li:last-child{
	border-right: none;
}
li a:hover{
	background-color: blue;
}

/* Classes in Alphabetical Order */
.articleHeader{
	text-align: center;
}

/* Id's in alphabetical order and divided by media queries. Excception for the grid container */

#grid-container{
	border: solid 2px #000000;
	padding: 10px;
	margin: 30px 300px;
	display: grid;
	grid-gap: 30px;
	justify-content: center;
	grid-template-columns: 400px 300px;
	grid-template-areas:
		'headerTag	headerTag'
		'navTag		navTag'
		'sectionTag	sectionTag'
		'sectionTag	sectionTag';
}

}

@media screen and (max-width: 400px){
		
	/* Attributes in alphabetical order */
	
article{
	border: solid 2px #000;
	padding: 5px;
	margin-bottom: 10px;
}

header{
	grid-area: headerTag;
	text-align: center;
}

nav{
	grid-area: navTag;
	overflow: none;
}
section{
	grid-area: sectionTag;
	padding: 5px;
}

p{
	color: red;
}
ul{	
	list-style-type: none;
	background-color: gray;
	border: 2px solid #000;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
li {
	float: left;
	display: block;
	color: #000;
	background-color: gray;
	text-align: center;
	border-right: 2px solid #000;
}
li a {
  display: block;
  color: white;
  padding: 14px 54px;
  text-decoration: none;
  text-align: center;
}

li:last-child{
	border-right: none;
}
li a:hover{
	background-color: blue;
}

/* Classes in Alphabetical Order */
.articleHeader{
	text-align: center;
}

/* Id's in alphabetical order and divided by media queries. Excception for the grid container */

#grid-container{
	border: solid 2px #000000;
	padding: 10px;
	margin: 30px 300px;
	display: grid;
	grid-gap: 30px;
	justify-content: center;
	grid-template-columns: 400px 300px;
	grid-template-areas:
		'headerTag'
		'navTag'
		'sectionTag'
		'sectionTag';
}
}

	